nav {
   padding: 10px;
}
h3 {
   font-size: 120%;
}

.jumbotron {
   background: rgba(92, 84, 202, 0.2);
   padding: 20px;
   margin-top: 56px;
}

.card-product {
   flex: 1 150px;
   padding: 2px 5px 2px 5px;
   justify-content: space-between;
   margin-top: 10px;
}

.card-product button {
   width: 100%;
}

.card-product h3 {
   text-align: center;
}

.container {
   padding: 10px;
}

button {
   border : 0;
   background: #0087cc;
   border-radius: 4px;
   box-shadow: 0 5px 0 #006599;
   color: #fff;
   cursor: pointer;
   font: inherit;
   margin: 0;
   outline: 0;
   padding: 8px 20px;
   transition: all .1s linear;
}

button:active {
   box-shadow: 0 2px 0 #006599;
   transform: translateY(3px);
}

footer {
   background: rgba(92, 84, 202, 0.2);
   padding: 20px;
}

.no-link-a a{
   text-decoration: none;
   color: rgba(0, 0, 0, 0.896);
}

h3+p {
   text-align: center;
}